<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPage1">

        <activity
            android:name=".PoemSpeakActivity"
            android:exported="false" />
        <activity
            android:name=".GoodHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".Lesson21QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ritupoem"
            android:exported="false" />
        <activity
            android:name=".Lesson19IncompleteActivity"
            android:exported="false" />
        <activity
            android:name=".BarakhadiTracingActivity"
            android:exported="true" />
        <activity
            android:name=".VyanjanIndexActivity"
            android:exported="true" />
        <activity
            android:name=".vp6"
            android:exported="false" />
        <activity
            android:name=".vp5"
            android:exported="false" />
        <activity
            android:name=".vp4"
            android:exported="false" />
        <activity
            android:name=".zzzz"
            android:exported="false" />
        <activity
            android:name=".mypage2"
            android:exported="false" />
        <activity
            android:name=".sound3"
            android:exported="false" />
        <activity
            android:name=".nnnnp"
            android:exported="false" />
        <activity
            android:name=".shb"
            android:exported="false" />
        <activity
            android:name=".WordGridActivity"
            android:exported="false" />
        <activity
            android:name=".newp"
            android:exported="false" /> <!-- ✅ Kept only one declaration of .ssp -->
        <activity
            android:name=".ssp"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizActivity"
            android:exported="true" />
        <activity
            android:name=".ExercisePome2Activity"
            android:exported="true" />
        <activity
            android:name=".ExerciseSohamActivity"
            android:exported="true" />
        <activity
            android:name=".TraceExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".TracingActivity"
            android:exported="true" />
        <activity
            android:name=".exerciseActivity"
            android:exported="true" />
        <activity
            android:name=".vacha"
            android:exported="true" />
        <activity
            android:name=".WordActivity"
            android:exported="true" />
        <activity
            android:name=".reading"
            android:exported="true" />
        <activity
            android:name=".CleverMouseActivity"
            android:exported="true" />
        <activity
            android:name=".BhoplaQuizActivity"
            android:exported="true" />
        <activity
            android:name=".GhaarExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".ritu1"
            android:exported="true" />
        <activity
            android:name=".application"
            android:exported="true"/>
        <activity
            android:name=".application2"
            android:exported="true"/>
        <activity
            android:name=".marathi"
            android:exported="true"/>

        <activity
            android:name=".Janhavi"
            android:exported="true"/>
        <activity
            android:name=".IndexActivity"
            android:exported="true" />
    </application>

</manifest>
